.button {
    pointer-events: all;
    border-radius: 0.5em;
    background: white;
    border: 0.2em solid #09C;
    color:#09C;
    width: 3.6em;
    height: 3.6em;
    margin: 0.2em;
    transition: color 0.3s, background 0.3s;
    cursor: pointer;
    &:hover {
        background: #09C;
        color: white;
    }
}
