.panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}

.panel-footer-hr {
    color: #09c;
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
}
