.custom-dice-rolls {

    position: relative;
    float: right;
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        
    .hide-show-button {
        position: relative;
    }
    
    .hideable-buttons-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        transition: margin-right 0.5s ease;
        writing-mode: vertical-lr;
        flex-wrap: wrap-reverse;
        margin-top: -4em;

        > button {
            writing-mode: initial;
        }

        .edit-buttons-row {
            margin-right:4em;
            writing-mode: initial;
            display: flex;
        }
        .custom-roll-row {
            writing-mode: initial;
            display: flex;
            .hidden {
                display: none;
            }
        }
    }
}