.dice-buttons {
    position: absolute;
    top: 1em;
    left: 1em;
    bottom: 1em;
    right: 1em;
    pointer-events: none;
    display: flex;

flex-direction: column;
}

.buttons-container {
    position: relative;
    flex-grow: 1;
}

.hide-show-button {
    position: relative;
}

.dice-button {
    float: left;
}

.hidable-buttons-container {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: left 0.5s ease;
    bottom: 0em;
    top: 0em;
    left: -0em;
    flex-wrap: wrap;
}

/* .hidable-buttons-container.hidden {
    left: -6em;
} */
/* @media only screen and (max-height: 54em) {
    .hidable-buttons-container.hidden {
        right: 11em;
    }
    
}
@media only screen and (max-height: 35em) {
    .hidable-buttons-container.hidden {
        right: 16em;
    }
    .dice-button {
        background-color: green;
    }
} */