.dice-buttons {
    position: relative;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;

    .hide-show-button {
        position: relative;
    }
    
    // .buttons-container {
        // position: relative;
        flex-grow: 1;
        
        .hideable-buttons-container {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            writing-mode: vertical-lr;
            width: fit-content;
            transition: left 0.5s ease;
            flex-wrap: wrap;
            left: 0;

            > button {
                writing-mode: initial;
            }
        }
    // }
}




/* .hideable-buttons-container.hidden {
    left: -6em;
} */
/* @media only screen and (max-height: 54em) {
    .hideable-buttons-container.hidden {
        right: 11em;
    }
    
}
@media only screen and (max-height: 35em) {
    .hideable-buttons-container.hidden {
        right: 16em;
    }
    .dice-button {
        background-color: green;
    }
} */