.page-container {
    height: 100%;
    width: 100%;
    font-family: Tahoma;
    font-size: 1rem;
    overscroll-behavior-y: contain;
}
  
/* @media only screen and (max-width: 1024px)  and (orientation: portrait){
    .app {
        font-size: 1.8rem;
    }
} */

/* @media only screen and (max-height: 800px) and (orientation: portrait) {
    .app {
        font-size: 1.5rem;
    }
} */
